<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Login Page</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>

    <div class="container">

        <h2 style="color:#FF8800;margin:1em auto;">UMS Login</h2>

        <div th:if="${param.error}" class="alert alert-danger">Invalid username, password or verification code.</div>
        <div th:if="${param.logout}" class="alert alert-success">You have been logged out.</div>

        <form th:action="@{/dosignin}" method="post" class="form-horizontal">

            <div id="firstDiv">
                <div class="form-group">
                    <label class="control-label col-xs-2" for="username">Username: </label>
                    <div class="col-xs-10">
                        <input id="username" type="text" name="username" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-xs-2" for="password">Password: </label>
                    <div class="col-xs-10">
                        <input id="password" type="password" name="password" />
                    </div>
                </div>

                <a href="#" class="btn btn-primary" onclick="doNext()">Sign In</a>

            </div>

            <div id="secondDiv" style="display:none">

	            <span id="qr">
	                <p>Enter the verification code sent to you be SMS below</p>
	            </span>
                <div class="form-group">
                    <label class="control-label col-xs-2" for="code"> Code:</label>
                    <div class="col-xs-10">
                        <input id="code" type="text" name="verificationCode" />
                    </div>
                </div>

                <div class="form-actions col-xs-offset-2 col-xs-10">
                    <input type="submit" class="btn btn-primary" value="Sign In" />
                </div>

            </div>

        </form>

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

        <script type="text/javascript">
            function doNext() {
                $("#firstDiv").hide();
                $("#secondDiv").show();
                var username = $("#username").val();
                var password = $("#password").val();
                $.ajax({
                    url: "/ums/vcode/sms?username=" + username,
                    type: "GET",
                    beforeSend: function(xhr) {
                        xhr.setRequestHeader("Authorization", "Basic " + btoa(username + ":" + password));
                    }
                });
            }
        </script>

    </div>

</body>
</html>