<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Spring Security SSO</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
</head>

<body>

<div class="container">
	<div class="col-sm-12">
		<a class="pull-right" href="/dms/logout">Logout</a>
		<h2>DMS Secured Page</h2>
		<br/>
		<h4>
			Welcome to DMS,
			<a href="/dms/authentication">
				<span th:text="${#authentication.name}">Name</span>!
			</a>
		</h4>
	</div>
</div>

</body>
</html>