<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Spring Security SSO</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
</head>

<body>

<div class="container">
    <div class="col-sm-12">
        <a class="pull-right" href="/wms/logout">Logout</a>
        <h2>WMS - Currency Rates Information</h2>
        <br/>
        <h4>
            Welcome to WMS,
            <span th:text="${ratesInfo}">The important currency rates information</span>!
        </h4>
    </div>
</div>

</body>
</html>